@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles  max-width: 170px;  */
* {
  margin: 0; 
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #EB6440;
 
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #EB6440;
}
.content {
  max-width: 80%;
  margin: auto auto;
  padding: 5%;
  font-size: 25px;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color:#E9EAE0;
  border-style: solid;
  padding: 40px;
  
}

.form label {
  text-align: left;
  display: block;
}
.timePicker {
  text-align: left;
  display: block;
  margin-bottom: 6%;
}

.form input {
  width: 100%;
  padding: 6px 10 px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.form button {
  background: #EB6440;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.event-title {
  margin-bottom: 7%;
}

.event-title input {
  border: 1px solid black;
  padding: 1%;
}

.event-note input {
  border: 1px solid black;
  padding: 1%;
}


.home {
  border: 2px solid black;
  width: 100%;
  
}

.row {
  
  background: #EB6440;
  display: flex;
  

}

.row2 {
  
  background: whitesmoke;
  display: flex;
  
}
.hour {
  
  width: 20%;
  padding-bottom: 1%;
  padding-top: 1%;
  border: 2px solid black;
  color: white;
  
}
.task{
  width: 80%;
  border: 2px solid black;
  padding-bottom: 1%;
  padding-top: 1%;
  color: white;
  
}
.hour2 {
  
  width: 20%;
  border: 2px solid black;
  padding-bottom: 1%;
  padding-top: 1%;
  
}
.task2 {
  width: 80%;
  border: 2px solid black;
  padding-bottom: 1%;
  padding-top: 1%;
  
}
.bigger-eventlist h1 {
  padding-bottom: 2%;
}
.event-list {
  margin-left: 37%;
  
  text-align: left;
  padding-bottom: 5%;
  
}
.event-preview {
  padding-bottom: 3%;
  border-bottom: 1px solid #fafafa;
  
 
  
}

.event-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}


.event-preview a{
  text-decoration: none;
}

.event-preview p {
  
  margin-left: 5%;
}



.event-details div {
  margin: 20px 0;
}

.event-details h2 {
  font-style: italic;
  color: #EB6440;
}
.event-details button {
  background: #EB6440;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


.checkbox input {
  transform: scale(2);
}

.checkbox span {
  font-style: italic;
  
  font-size: 40px;
  color: #EB6440;
  margin-bottom: 10px;
  padding-left: 2%;
}

.add-ons {
  padding: 0%;
  
}
.add-ons button {
  
  background: #EB6440;
  color: #fff;
  border: 0;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;
}










