@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles  max-width: 170px;  */
* {
  margin: 0; 
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  font-size: 25px;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: lightgreen;
  padding: 50px;
  
}

.form label {
  text-align: left;
  display: block;
}
.timePicker {
  text-align: left;
  display: block;
}

.form input {
  width: 100%;
  padding: 6px 10 px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.form button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.home {
  border: 2px solid black;
  width: 100%;
  
}

.row {
  
  background-color: #f1356d;
  display: flex;
  
  
}
.hour {
  
  width: 20%;
  border: 2px solid black;
}
.task{
  width: 80%;
  border: 2px solid black;
}

/* .home {
  display: grid;
  grid-template-columns: 100px 484px;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  gap: 5px;
  background-color: #2196F3;
  padding: 5px;
}

.home > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding:20px 0;
  font-size: 30px;
} */





.event_preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.event-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.event-preview h2 {
  font-size: 30px;
  color: #f1356d;
  margin-bottom: 8px;
  
}
.event-preview a{
  text-decoration: none;
}

.event-details h2 {
  font-size: 40px;
  color: #f1356d;
  margin-bottom: 10px;
}
.event-details div {
  margin: 20px 0;
}
.event-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}










